<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>port</key>
	<integer>9309</integer>
	<key>lineSparator</key>
	<string>\r\n</string>
	<key>broadcast</key>
	<dict>
		<key>searchCommand</key>
		<string>SRCH</string>
		<key>searchProtocol</key>
		<string>HTTP/1.1</string>
        <key>replyAvailable</key>
        <string>HTTP/1.1 200 OK\r\nhost-id:%@\r\nhost-type:win\r\nhost-name:%@\r\nhost-mtp-protocol-version:01800010\r\nhost-request-port:%@\r\nhost-wireless-protocol-version:01000000\r\nhost-supported-device:PS Vita, PS Vita TV\r\n\0</string>
	</dict>
</dict>
</plist>
